<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tired Brain</title>
    <!-- All pages can use stylesheets that are placed in the main.hbs page, and you can put multiple in -->
  </head>
  <body>
    {{{body}}}
    <!-- page in inserted here (from views folder) -->
  </body>
</html>
